<div id="getting-started-widget">
	<h2>Getting Started</h2>
	<p>
	    <b>New users</b> are expected to read through the
	    <a href="https://www.c3se.chalmers.se/documentation/for_users/intro-alvis/slides/">introduction slides</a>.
	</p>
	<p>
            <b>File transfers</b> are not be done via the file tab in the portal. The file
            app in OOD is not stable and very limited. For file transfers you should use
            tools like CyberDuck, rsync or scp. See our <a
            href="https://www.c3se.chalmers.se/documentation/for_users/filesystem/#copying-files-into-and-out-of-the-system">
            documentation for details</a>.
	</p>
	<p>
	    <b>Support</b> is available through the <a
	    href="https://supr.naiss.se/support/">support form</a>. See <a
	    href="https://www.c3se.chalmers.se/documentation/for_users/intro-alvis/slides/#getting-support">checklist</a>
	    before asking your question.
	</p>
	<p>
	    <b>Documentation</b> for how to use our resources are available at
	    <a href="https://www.c3se.chalmers.se/">https://www.c3se.chalmers.se/</a>.
	</p>
</div>
