<div id="grafana-widget">
	<h3>Metrics & Utilisation</h3>
	<iframe id="grafana-iframe" src="https://grafana.c3se.chalmers.se/d/alvis-public/alvis-public?orgId=1&amp;kiosk&amp;theme=light" frameborder=0></iframe>
</div>
